* {
    margin: 0;
    font-family: Spartan;
}
p {
    line-height: 30px;
    font-size: 14px;
}
.btn {
    border: none;
    background-color: black;
    color: white;
    padding: 20px 30px;
}
.btn:hover,
.see-all-btn:hover {
    background-color: gray;
    cursor: pointer;
}
.btn img, 
.see-all-btn img {
    vertical-align: middle;
    margin-left: 20px;
    padding-bottom: 4px;
}
.btn img g{
    stroke: rgb(225, 225, 225);
}
.see-all-btn {
    display: none;
}
.space {
    height: 75px;
}
.page-break {
    width: 100px;
    margin-bottom: 75px;
}

/* Animation */
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}
.animatedFadeInUp {
    opacity: 0
}
.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* header */
.header-container {
    overflow: hidden;
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 20px;
    padding-left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    height: 50px;
}
.logo img {
    width: 75px;
    margin: 10px;
}
.menu {
    position: relative;
    right: 0;
    float: right;
    margin: 10px;
}
#menu-icon {
    cursor: pointer;
}
#close {
    display: none;
}
#hamburger {
    display: block;
}
#header-menu-content {
    display: none;
}
#dropdown-menu-content {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.70);
    width: 100vw;
    height: 100vh;
}
#dropdown-menu-content ul {
    list-style: none;
    background-color: whitesmoke;
    float: right;
    padding: 40px;
    padding-top: 20px;
    width: 75%;
}
#dropdown-menu-content li {
    margin-top: 40px;
    width: fit-content;
}
#dropdown-menu-content a {
    text-decoration: none;
    color: black;
}
#header-content {
    display: none;
}
header aside {
    display: none;
}
main {
    margin-top: 90px;
}

/* Slideshow banner*/
.slides {
    display: none;
}
.slides:first-of-type {
    z-index: -1;
    display: block;
    position: relative;
}
.dot-container {
    display: none;
}
.image-overlay {
    padding: 35px;
    height: 100%;
    background-color: rgba(0,0,0,0.35);
}
#slideshow-container .image-overlay{
    padding: 150px 35px;
}
.slides {
    background-image: url('./assets/home/mobile/image-hero-paramour.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}
.slides h1 {
    font-weight: bold;
    font-size: 40px;
}

/* welcome section */
#welcome-section {
    padding-top: 50px;
    margin: 35px;
    padding-bottom: 50px;
}
.welcome-desktop {
    display: none;
}
.welcome-desktop-div h1 {
    font-size: 35px;
}
.welcome-desktop-div img {
    display: none;
}

/* about us section */
#about-us-section {
    background-image: url('./assets/home/mobile/image-small-team.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#about-us-section h1 {
    font-size: 30px;
    padding-bottom: 25px;
}
#about-us-section .image-overlay{
    padding: 250px 50px 250px 50px;
}


/* featured section*/
#featured-section-main {
    margin: 35px;
}
#featured-section-main h1 {
    padding-bottom: 50px;
}
.proj-number {
    display: none;
}
.projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    margin-bottom: 25px;
}
.feat-projects {
    width: 100%;
    color: white;
}
.feat-projects .image-overlay {
    padding: 25px;
    height: 200px;
}
.feat-projects .image-overlay p:first-of-type {
    font-weight: bolder;
    font-size: large;
}
.feat-projects .image-overlay p:last-of-type {
    font-size: small;
}
.feat-projects a {
    text-decoration: none;
}
#featured-section-main .btn {
    width: 100%;
}
.view-project-link {
    text-decoration: none;
    color: white;
}

/* footer */
footer {
    margin-top: 100px;
    padding: 50px;
    background-color: whitesmoke;
    filter: brightness(95%);
}
.footer-list {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    padding-top: 40px;
    padding-bottom: 25px;
    position: relative;
}
.footer-list li {
    width: fit-content;
    margin: auto;
    padding: 20px;
}
.footer-list li:first-of-type {
    position: absolute;
    left: 0;
    right: 0;
    top: -120px;
    background-color: black;
    padding: 40px 25px;
}
.footer-list a {
    text-decoration: none;
    color: black;
}
footer .btn {
    width: 100%;
    position: relative;
}


/* Tablet CSS */
@media screen and (min-width: 768px) {
    .header-container {
        position: relative;
    }
    #menu-icon {
        display: none;
    }
    #dropdown-menu-content {
        display: none;
    }
    .logo img {
        width: 100px;
    }
    #header-menu-content {
        display: block;
    }
    #header-menu-content ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: left;
        padding-left: 0;
    }
    #header-menu-content li {
        margin-right: 100px;
    }
    #header-menu-content a {
        text-decoration: none;
        color: black;
    }
    main {
        margin: 50px;
        margin-top: 0;
        position: relative;
    }
    .subtitle {
        font-size: 40px;
    }
    .space {
        height: 150px;
    }
    #welcome-section .page-break,
    #welcome-section .space {
        display: none;
    }
    .image-overlay h1 {
        font-size: 60px;
        width: 400px;
    }
    .image-overlay p {
        width: 550px;
    }

    /* header */
    header {
        margin: 15px 50px;
        padding-left: 50px;
    }
    .header-container {
        width: 85vw;
        margin: auto;
    }
    header aside {
        display: block;
        position: absolute;
        margin-top: 25px;
        top: 0;
        left: 50px;
        transform-origin: 0 0;
        transform: rotate(90deg);
        color: lightgrey;
    }
    header hr {
        position: absolute;
        left: -35px;
        width: 100px;
        border-top: 1px solid lightgrey;
    }
    header p {
        width: 200px;
        position: absolute;
        left: 115px;
        top: -12px;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 12px;
    }
    #hamburger {
        display: none;
    }
    #menu-content {
        display: flex;
        top: 0;
        left: 250px;
        width: auto;
        margin-top: 30px;
    }
    #menu-content ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }
    #menu-content li {
        padding: 15px;
        padding-right: 50px;
    }
    section {
        margin: 50px;
        margin-top: 0;
    }
    .slides {
        background-image: url('./assets/home/tablet/image-hero-paramour.jpg');
    }
    
    /* welcome section */
    .welcome-desktop {
        display: block;
        font-size: 100px !important;
        color: lightgrey;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    #welcome-section {
        margin: 50px;
    }
    #welcome-section h1 {
        font-size: 45px;
    }

    /* about us section */
    #about-us-section {
        background-image: url('./assets/home/tablet/image-small-team.jpg');
    }
    #about-us-section .image-overlay h1 {
        font-size: 45px;
    }

    /* featured projects section */
    #featured-section-main {
        margin: 50px;
    }
    .featured-heading {
        display: flex;
        justify-content: space-between;
    }
    .featured-heading a {
        text-decoration: none;
    }
    .see-all-btn {
        display: block;
        height: 75px;
        font-size: medium;
        border: none;
        background-color: black;
        color: white;
        padding: 15px 30px;
    }
    .projects-container .image-overlay {
        justify-content: space-between;
    }
    .feat-projects .image-overlay {
        height: 250px;
    }
    .proj-number {
        display: block;
        font-size: 225px;
        opacity: 0.5;
        position: relative;
        bottom: -90px;
    }
    #featured-section-main .btn {
        display: none;
    }

    /* footer */
    footer, .footer-list{
        display: flex;
        padding-right: 150px;
    }
    footer {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        padding: 0;
        background-color: white;
        filter: brightness(100%);
        align-items: center;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .footer-list {
        margin-right: 100px;
        width: 100%;
        text-align: center;
        list-style-type: none;
        padding: 0;
        padding-right: 150px;
        background-color:whitesmoke;
        filter: brightness(95%);
        align-items: center;
    }
    .footer-list li {
        width: 100%;
        margin: auto;
    }
    .footer-list li:first-of-type {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        background-color: black;
        margin: 0;
    }
    .footer-list .logo {
        height: 100%;
        width: 200px;
    }
    footer .btn {
        width: 200px;
        padding: 15px;
        position: absolute;
        right: 0;
        top: 50px;
        z-index: 2;
    }
}

/* Desktop CSS */
@media screen and (min-width: 1200px) {
    header {
        padding-left: 65px;
    }
    section {
        margin: 65px;
        margin-top: 0;
    }
    .slides {
        display: none;
    }
    .slides:first-of-type {
        display: block;
    }
        .slide-paramour {
            background-image: url('./assets/home/desktop/image-hero-paramour.jpg');
        }
        .slide-seraph {
            background-image: url('./assets/home/desktop/image-hero-seraph.jpg');
        }
        .slide-federal {
            background-image: url('./assets/home/desktop/image-hero-federal.jpg');
        }
        .slide-trinity {
            background-image: url('./assets/home/desktop/image-hero-trinity.jpg');
        }

    #slideshow-container,
    #welcome-section,
    #about-us-section,
    #featured-section-main {
        margin: 55px;
        margin-left: 65px;
    }
    #slideshow-container {
        margin-top: 0;
    }
    #slideshow-container .image-overlay {
        padding: 150px;
    }
    #slideshow-container .image-overlay div {
        position: relative;
        height: 400px;
    }
    #slideshow-container .image-overlay div .btn{
        position: absolute;
        bottom: 50px;
    }
    .dot-container {
        display: flex;
        flex-direction: row;
        position: relative;
        left: -65px;
        bottom: 65px;
    }
    .dot {
        cursor: pointer;
        height: 65px;
        width: 65px;
        margin: 0;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.6s ease;
    }
    .dot:hover {
        background-color: lightgrey;
    }
    .active {
        background-color: black;
        color: white;
    }

    /* welcome section */
    #welcome-section {
        padding-top: 0;
        padding-left: 50px;
    }
    .welcome-desktop {
        display: block;
        font-size: 175px !important;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        bottom: -175px;
        left: -120px;
    }
    .welcome-desktop-div {
        display: flex;
    }
    .welcome-desktop-div div {
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
        z-index: 2;
    }
    .welcome-desktop-div img {
        display: block;
    }

    /* about us section */
    #about-us-section .image-overlay {
        padding-left: 150px;
    }
    #about-us-section {
        background-image: url('./assets/home/desktop/image-small-team.jpg');
    }
    
    /* featured project section*/
    .projects-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }
    .feat-projects {
        width: 33%;
        height: auto;
    }
    .feat-projects .image-overlay {
        height: 450px;
        display: flex;
    }
    .proj-number {
        align-self: flex-start;
        position: relative;
        top: 50px;
        right: -35px;
        font-size: 150px;
    }
    .delsol {
        background-image: url('./assets/portfolio/desktop/image-del-sol.jpg') !important;
    }
    .tower {
        background-image: url('./assets/portfolio/desktop/image-228b.jpg') !important;
    }
    .proto {
        background-image: url('./assets/portfolio/desktop/image-prototype.jpg') !important;
    }
}