* {
    margin: 0;
    font-family: Spartan;
}
p {
    line-height: 30px;
}
.btn {
    border: none;
    background-color: black;
    color: white;
    padding: 15px 30px;
}
.btn a {
    text-decoration: none;
    color: white;
}

.space {
    height: 75px;
}

/* header */
header {
    overflow: hidden;
    padding: 20px;
}
header .logo {
    float: left;
}
.logo img {
    width: 75px;
}
#menu-icon {
    float: right;
    align-self: center;
    margin-top: 5px;
}
#close {
    display: none;
}
#hamburger {
    display: block;
}
#menu-content {
    display: none;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 1;
    background-color: white;
    width: 90%;
}
#menu-content ul {
    list-style: none;
    margin-left: 0;
    margin: 40px;
    padding-left: 0;
}
#menu-content li {
    padding-bottom: 20px;
}
#menu-content a {
    text-decoration: none;
    color: black;
}
header aside {
    display: none;
}

/* Slideshow banner*/
.slides {
    display: none;
}
.slides:first-of-type {
    display: block;
    position: relative;
}
.dot-container {
    display: none;
}
.image-overlay {
    padding: 35px;
    height: 100%;
    background-color: rgba(0,0,0,0.35);
}
#slideshow-container .image-overlay{
    padding: 150px 35px;
}
.slides {
    background-image: url('./assets/home/mobile/image-hero-paramour.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}
.slides h1 {
    font-weight: bold;
    font-size: 40px;
}

/* welcome section */
#welcome-section {
    padding-top: 50px;
    margin: 25px;
    padding-bottom: 50px;
}
.welcome-desktop {
    display: none;
}
.welcome-desktop-div h1 {
    font-size: 35px;
}
.welcome-desktop-div img {
    display: none;
}

/* about us section */
#about-us-section {
    background-image: url('./assets/home/mobile/image-small-team.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#about-us-section h1 {
    font-size: 30px;
    padding-bottom: 25px;
}
#about-us-section .image-overlay{
    padding: 250px 50px 250px 50px;
}


/* featured section*/
#featured-section-main {
    margin: 35px;
}
#featured-section-main h1 {
    padding-bottom: 50px;
}
.see-all-btn {
    display: none;
}
.see-all-btn a{
    text-decoration: none;
    color: white;
}
.proj-number {
    display: none;
}
.projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    margin-bottom: 25px;
}
.feat-projects {
    width: 100%;
    height: 100%;
    color: white;
}
.feat-projects .image-overlay {
    padding: 25px;
    padding-top: 115px;
}
.feat-projects .image-overlay p:first-of-type {
    font-weight: bolder;
    font-size: large;
}
.feat-projects .image-overlay p:last-of-type {
    font-size: small;
}
.feat-projects a {
    text-decoration: none;
}
#featured-section-main .btn {
    width: 100%;
}
.view-project-link {
    text-decoration: none;
    color: white;
}

/* footer */
footer {
    margin-top: 100px;
    padding: 50px;
    background-color: lightgray;
}
.footer-list {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}
.footer-list li {
    margin: 20px;
}
.footer-list a {
    text-decoration: none;
    color: black;
}
footer .btn {
    width: 100%;
}

.page-break {
    width: 100px;
    margin-bottom: 75px;
}


/* Tablet CSS */
@media screen and (min-width: 768px) {
    body {
        margin: 35px;
        padding: 10px;
        position: relative;
    }
    .subtitle {
        font-size: 40px;
    }
    .space {
        height: 200px;
    }
    #welcome-section .page-break,
    #welcome-section .space {
        display: none;
    }
    .image-overlay h1 {
        font-size: 60px;
        width: 400px;
    }
    .image-overlay p {
        width: 550px;
    }

    /* header */
    header {
        display: flex;
    }
    header aside {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0 0;
        transform: rotate(90deg);
    }
    header hr {
        position: absolute;
        left: -35px;
        width: 100px;
    }
    header p {
        width: 200px;
        position: absolute;
        left: 115px;
        top: -12px;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 12px;
    }
    #hamburger {
        display: none;
    }
    #menu-content {
        display: flex;
        width: auto;
        left: 150px;
        top: 20px;
    }
    #menu-content ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }
    #menu-content li {
        padding: 15px;
        padding-right: 50px;
        display: block;
    }
    section {
        margin: 25px;
    }
    .slides {
        background-image: url('./assets/home/tablet/image-hero-paramour.jpg');
    }
    
    /* welcome section */
    .welcome-desktop {
        display: block;
        font-size: 100px !important;
        color: lightgrey;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    #welcome-section h1 {
        font-size: 45px;
    }

    /* about us section */
    #about-us-section {
        background-image: url('./assets/home/tablet/image-small-team.jpg');
    }
    #about-us-section .image-overlay h1 {
        font-size: 45px;
    }

    /* featured projects section */
    .featured-heading {
        display: flex;
        justify-content: space-between;
    }
    .see-all-btn {
        display: block;
        height: 75px;
        font-size: medium;
        border: none;
        background-color: black;
        color: white;
        padding: 15px 30px;
    }
    .projects-container .image-overlay {
        display: flex;
        justify-content: space-between;
    }
    .projects-container .image-overlay div {
        height: fit-content;
        width: 150px;
    }
    .proj-number {
        display: block;
        font-size: 225px;
        margin: 0;
        position: relative;
        top: 0;
        right: 0;
        opacity: 0.5;
    }
    #featured-section-main .btn {
        display: none;
    }
}

/* Desktop CSS */
@media screen and (min-width: 1200px) {
    .slides {
        display: none;
    }
    .slides:first-of-type {
        display: block;
    }
        .slide-paramour {
            background-image: url('./assets/home/desktop/image-hero-paramour.jpg');
        }
        .slide-seraph {
            background-image: url('./assets/home/desktop/image-hero-seraph.jpg');
        }
        .slide-federal {
            background-image: url('./assets/home/desktop/image-hero-federal.jpg');
        }
        .slide-trinity {
            background-image: url('./assets/home/desktop/image-hero-trinity.jpg');
        }

    #slideshow-container,
    #welcome-section,
    #about-us-section,
    #featured-section-main {
        margin: 55px;
    }
    
    #slideshow-container .image-overlay {
        padding: 150px;
    }

    .dot-container {
        display: block;
        position: relative;
        left: -70px;
        bottom: 70px;
    }
    .dot {
        cursor: pointer;
        height: 50px;
        width: 50px;
        margin: 0;
        background-color: white;
        display: inline-block;
        padding: 10px;
        transition: background-color 0.6s ease;
    }
    .dot:hover {
        background-color: lightgrey;
    }
    .active {
        background-color: black;
        color: white;
    }

    /* welcome section */
    #welcome-section {
        padding-top: 0;
        padding-left: 0 50px;
    }
    .welcome-desktop {
        display: block;
        font-size: 175px !important;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        bottom: -175px;
        left: -120px;
    }
    .welcome-desktop-div {
        display: flex;
    }
    .welcome-desktop-div div {
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
        z-index: 2;
    }
    .welcome-desktop-div img {
        display: block;
    }

    /* about us section */
    #about-us-section .image-overlay {
        padding-left: 150px;
    }
    #about-us-section {
        background-image: url('./assets/home/desktop/image-small-team.jpg');
    }
    
    /* featured project section*/
    .projects-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }
    .feat-projects {
        width: auto;
        height: 450px;
    }
    .delsol {
        background-image: url('./assets/portfolio/desktop/image-del-sol.jpg') !important;
    }
    .tower {
        background-image: url('./assets/portfolio/desktop/image-228b.jpg') !important;
    }
    .proto {
        background-image: url('./assets/portfolio/desktop/image-prototype.jpg') !important;
    }
}