* {
    margin: 0;
    font-family: Spartan;
}

header {
    overflow: hidden;
    padding: 20px;
    
}
header .logo {
    float: left;
    
}
.logo img {
    width: 75px;
}
.menu-icon {
    float: right;
    align-self: center;
}
.menu-content {
    display: none;
}

#carousel-banner {
    height: 500px;
    border: black solid 1px;
    
}
.image-overlay {
    padding: 35px;
    height: 100%;
    background-color: rgba(0,0,0,0.35);
}
.portfolio {
    background-image: url('./assets/home/mobile/image-hero-paramour.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}
.portfolio h1 {
    font-weight: bold;
    font-size: 50px;
}
.btn {
    border: none;
    background-color: black;
    color: white;
    padding: 15px 30px;
}
.banner-desktop {
    display: none;
}

.welcome-desktop {
    display: none;
}

.about-us-section {
    background-image: url('./assets/home/mobile/image-small-team.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}
.about-us-section .inner-text{
    padding: 250px 50px 250px 50px;
}

.featured-section {
    margin: 35px;
}
.featured-section h1 {
    padding-bottom: 50px;
}
.see-all-btn {
    display: none;
}
.feat-projects {
    width: 100%;
    height: 200px;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    /*padding: 25px;*/
    color: white;
}
.prj1 {
    background-image: url('./assets/portfolio/mobile/image-del-sol.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.prj2 {
    background-image: url('./assets/portfolio/mobile/image-228b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.prj3 {
    background-image: url('./assets/portfolio/mobile/image-prototype.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.feat-projects p {
    padding-bottom: 10px;
}
.feat-projects a {
    text-decoration: none;
}
footer {
    padding: 50px;
    background-color: gray;
}
.footer-list {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}
.footer-list li {
    margin: 20px;
}
footer .btn {
    width: 100%;
    
}

