* {
    margin: 0;
    font-family: Spartan;
}
p {
    line-height: 30px;
}
.btn {
    border: none;
    background-color: black;
    color: white;
    padding: 15px 30px;
}
.btn a {
    text-decoration: none;
    color: white;
}

/* header */
header {
    overflow: hidden;
    padding: 20px;
}
header .logo {
    float: left;
}
.logo img {
    width: 75px;
}
#menu-icon {
    float: right;
    align-self: center;
    margin-top: 5px;
}
#close {
    display: none;
}
#hamburger {
    display: block;
}
#menu-content {
    display: none;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 1;
    background-color: white;
    width: 90%;
}
#menu-content ul {
    list-style: none;
    margin-left: 0;
    margin: 40px;
    padding-left: 0;
}
#menu-content li {
    padding-bottom: 20px;
}
#menu-content a {
    text-decoration: none;
    color: black;
}
header aside {
    display: none;
}

/* Carousel banner*/
.image-overlay {
    padding: 35px;
    height: 100%;
    background-color: rgba(0,0,0,0.35);
}
#carousel-banner .image-overlay{
    padding: 150px 35px;
}
.portfolio {
    background-image: url('./assets/home/mobile/image-hero-paramour.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}
.portfolio h1 {
    font-weight: bold;
    font-size: 40px;
}
.portfolio .btn {
    margin-top: 75px;
}

.banner-desktop {
    display: none;
}

/* welcome section */
#welcome-section {
    padding-top: 50px;
    margin: 25px;
    padding-bottom: 50px;
}
.welcome-desktop {
    display: none;
}
.welcome-section h1 {
    font-size: 30px;
}

/* about us section */
#about-us-section {
    background-image: url('./assets/home/mobile/image-small-team.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#about-us-section h1 {
    font-size: 30px;
    padding-bottom: 25px;
}
#about-us-section .image-overlay{
    padding: 250px 50px 250px 50px;
}


/* featured section*/
#featured-section-main {
    margin: 35px;
}
#featured-section-main h1 {
    padding-bottom: 50px;
}
.see-all-btn {
    display: none;
}
.feat-projects {
    width: 100%;
    height: 250px;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    color: white;
}
.feat-projects p {
    padding-bottom: 10px;
}
.feat-projects a {
    text-decoration: none;
}
#featured-section-main .btn {
    width: 100%;
}
.view-project-link {
    text-decoration: none;
    color: white;
}

/* footer */
footer {
    margin-top: 100px;
    padding: 50px;
    background-color: lightgray;
}
.footer-list {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}
.footer-list li {
    margin: 20px;
}
.footer-list a {
    text-decoration: none;
    color: black;
}
footer .btn {
    width: 100%;
}


/* Tablet CSS */
@media screen and (min-width: 768px) {
    body {
        margin: 35px;
        padding: 10px;
        position: relative;
    }
    header aside {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0 0;
        transform: rotate(90deg);
    }
    header hr {
        position: absolute;
        left: -35px;
        width: 100px;
    }
    header p {
        width: 200px;
        position: absolute;
        left: 115px;
        top: -12px;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 12px;
    }

    #hamburger {
        display: none;
    }
    #menu-content {
        display: block;
        width: auto;
        left: 150px;
        top: 20px;
    }
    #menu-content ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }
    #menu-content li {
        padding: 15px;
        padding-right: 50px;
        display: block;
    }
    section {
        margin: 25px;
    }

} 
